<?xml version="1.0"?>
<robot name="/memristor/Documents/storebot.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
    <webots>
        <plugin type="store_automation.storebot_driver.StorebotDriver" />
    </webots>

    <link name="base_link">
        <visual>
            <origin xyz="-0.01 -0.24 -0.14" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.01 -0.24 -0.14" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="-0.01 0.24 -0.14" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.01 0.24 -0.14" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
        <visual>
            <geometry>
                <box size="1 0.8 0.1" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="1 0.8 0.1" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.45 -0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.45 -0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="-0.45 -0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.45 -0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="-0.45 0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.45 0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.45 0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.45 0.35 -0.09" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.2" />
            </geometry>
        </collision>
    </link>

    <link name="base_footprint" />

    <joint name="base_joint" type="fixed">
        <parent link="base_link" />
        <child link="base_footprint" />
        <origin xyz="0.0 0.0 -0.29" rpy="0 0 0" />
    </joint>

    <joint name="left_motor" type="fixed">
        <parent link="base_link" />
        <child link="left_wheel" />
        <axis xyz="1 -0.000004 0" />
        <limit effort="200" velocity="10" />
        <origin xyz="0 0.35 -0.18" rpy="0 0 1.5708" />
    </joint>
    <link name="left_wheel">
        <visual>
            <origin xyz="0 0 0" rpy="1.570796 0.000001 1.570799" />
            <geometry>
                <cylinder radius="0.11" length="0.095" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.570796 0.000001 1.570799" />
            <geometry>
                <cylinder radius="0.11" length="0.095" />
            </geometry>
        </collision>
    </link>
    <joint name="right_motor" type="fixed">
        <parent link="base_link" />
        <child link="right_wheel" />
        <axis xyz="-1 0.000001 0" />
        <limit effort="200" velocity="10" />
        <origin xyz="0 -0.35 -0.18" rpy="0 0 -1.570795" />
    </joint>
    <link name="right_wheel">
        <visual>
            <origin xyz="0 0 0" rpy="1.570796 0.000001 1.570799" />
            <geometry>
                <cylinder radius="0.11" length="0.095" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.570796 0.000001 1.570799" />
            <geometry>
                <cylinder radius="0.11" length="0.095" />
            </geometry>
        </collision>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar" />
        <origin xyz="0 0 0.12" rpy="0 0 0" />
    </joint>
    <link name="lidar">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.0508" length="0.055" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.0508" length="0.055" />
            </geometry>
        </collision>
    </link>
    

    <link name="imu">
    </link>
    <joint name="base_link_imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
</robot>